<footer class="container-fluid d-flex text-dark align-items-center bg-dark text-white pt-3 opacity-9 border-top">
  <div class="row mx-0 w-100 small opacity-9">
      <div class="col-12 col-md-6 col-lg-5 text-center text-md-start">
          <h6 class="text-uppercase mb-3">
              Lorem ipsum
          </h6>
          <p class="initialism fw-normal">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
              enim ad minim veniam, quis nostrud exercitation ullamco laboris 
              nisi ut aliquip ex ea commodo consequat. 
          </p>
      </div>
      <div class="col-12 col-md-6 col-lg-7 text-center text-md-end">                    
          <ul class="list-inline">
              <li class="list-inline-item">
                  <a href="#">
                      <span class="fa fa-facebook text-white"></span>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a href="#">
                      <span class="fa fa-instagram text-white"></span>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a href="#">
                      <span class="fa fa-twitter text-white"></span>
                  </a>
              </li>
          </ul>       
      </div>
      <div class="col-12 text-center border-top">
          <p class="mb-1">
              Copyright &copy; 2021-2022 Tomasz Pankowski. 
              <a rotuerLink="/privacy" class="fw-bold text-white text-decoration-none">
                  Privacy policy
              </a>
          </p>
      </div>
  </div>
</footer>