$prefix: "../../../assets/";
$bg__about-img: 
    $prefix+"img/about/about-s1.jpg",
    $prefix+"img/about/about-s2.jpg",
    $prefix+"img/about/about-s3.jpg",
    $prefix+"img/about/about-s4.jpg";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__movie-img: $prefix+"img/movie/movie-s1.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__ticket-img: $prefix+"img/ticket/ticket-s1.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__init:
    "about",
    "comingsoon",
    "error",
    "index",
    "movie",
    "privacy",
    "ticket",
    "user";
$classes_init:
    $bg__about-img,
    $bg__comingsoon-img,
    $bg__error-img,
    $bg__index-img,
    $bg__movie-img,
    $bg__privacy-img,
    $bg__ticket-img,
    $bg__user-img;
$footer-height: 41px;
$text__shadow: 1px 1px 3px #333;